.button-round {
  display: block;
  width: 100%;
  max-width: 280px;
  padding-top: 18px;
  padding-bottom: 20px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-radius: 30px;
}
