.button-square {
  display: inline-block;
  vertical-align: baseline;
  width: 100%;
  max-width: 300px;
  padding-top: 22px;
  padding-bottom: 21px;
  padding-right: 21px;
  padding-left: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 3px;
}

.button-square--form {
  color: $extra-light;
  background-color: $optional-accent;

  &:hover,
  &:focus {
    background-color: $optional-accent-darker;
  }

  &:active {
    color: $extra-light-opacity-2;
    background-color: $optional-accent-darker;
  }

  &:disabled {
    color: $extra-light;
    background-color: $medium-1;
  }
}
