.contacts {
  margin-top: 0;
  padding-top: 17px;
  text-align: center;
  background-color: $extra-light;

  @media (min-width: $tablet-width) {
    padding-top: 4px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
  }
}

/* Contacts intro */
.contacts__intro {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 68px;
  }
}

/* Contacts List */
.contacts__list {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 26px;
  padding-right: 20px;
  padding-left: 20px;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 820px;
    margin: 0 auto;
    margin-bottom: -9px;
    padding-bottom: 0;
    padding-right: 10px;
    padding-left: 10px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    max-width: $desktop-width-min;
    box-sizing: border-box;
    margin-bottom: 0;
  }
}

.contacts__item {
  width: 240px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $accent-color;

  @media (min-width: $tablet-width) {
    padding-bottom: 32px;
    padding-right: 20px;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-bottom: 18px;
  }

  &:last-child {
    padding-top: 14px;

    @media (min-width: $tablet-width) {
      padding-top: 10px;
    }
  }

  &--write {
    @media (min-width: $desktop-width) {
      order: 1;
    }
  }
}

.contacts__title {
  display: block;
  margin: 0;
  margin-bottom: -34px;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: $basic-dark;

  @media (min-width: $tablet-width) {
    margin-bottom: -30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: -12px;
  }
}

.contacts__link {
  color: inherit;
  text-decoration: none;
}
