.copyright__text {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $desktop-width) {
    margin-right: 8px;
    font-size: 18px;
  }
}

.copyright__link {
  text-decoration: none;
}

.copyright__link .copyright__icon {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 1px;
  fill: $accent-color;

  @media (min-width: $tablet-width) {
    margin-bottom: -1px;
  }
}

.copyright__link:hover .copyright__icon,
.copyright__link:focus .copyright__icon {
  fill: $basic-dark;
}

.copyright__link:active .copyright__icon {
  fill: $basic-dark;
  opacity: 0.3;
}
