.download-app {
  grid-area: download-app;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  color: $extra-light;
  background-color: $optional-dark;
  z-index: 0;

  @media (min-width: $tablet-width) {
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0;
    padding: 0;
  }
}

.download-app__download {
  margin-top: 32px;
  color: $extra-light;
  text-decoration: none;
  background-color: transparent;
  border-color: $extra-light;

  @media (min-width: $tablet-width) {
    width: 290px;
    margin-top: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 39px;
    padding-top: 16px;
    font-size: 21px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $extra-light;
  }

  &:active {
    color: $accent-color-opacity;
    background-color: $extra-light;
  }
}

.download-app__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-top: 14px;
    margin-right: 4px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 35px;
    margin-right: 2px;
  }
}

.download-app__item {
  margin-top: 34px;
  margin-right: 35px;

  @media (min-width: $desktop-width) {
    margin-right: 34px;
  }

  &:nth-child(2) {
    margin-top: 37px;

    @media (min-width: $desktop-width) {
      margin-top: 42px;
      margin-right: 37px;
    }
  }

  &:last-child {
    margin-top: 44px;
    margin-right: 0;

    @media (min-width: $tablet-width) {
      margin-top: 36px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 43px;
    }
  }
}

.download-app__description {
  margin-top: 12px;
  margin-bottom: 31px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 23px;
    margin-bottom: 114px;
    padding: 0;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 43px;
    margin-bottom: 125px;
  }
}
