.download-app {
  grid-area: download-app;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $extra-light;
  background-color: $optional-dark;
  outline: 3px solid orange;
  outline-offset: -3px;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    z-index: 0;
  }
}

.download-app__download {
  margin-top: 28px;
  color: $extra-light;
  text-decoration: none;
  background-color: transparent;
  border-color: $extra-light;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $extra-light;
  }

  &:active {
    color: $accent-color-opacity;
    background-color: $extra-light;
  }

  @media (min-width: $tablet-width) {
    width: 290px;
    margin-top: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 51px;
  }
}

.download-app__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.download-app__item {
  margin-top: 30px;
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
}

.download-app__description {
  margin-top: 24px;
  margin-bottom: 36px;
  padding-right: 25px;
  padding-left: 25px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 120px;
    padding: 0;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 130px;
  }
}
