.form {
  background-color: $extra-light;
}

.form__text,
.form__check {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  font-size: 14px;
  text-transform: uppercase;
  color: $accent-color;

  &--center {
    text-align: center;
  }
}

/* Text fieldset */

.form__text {
  background-color: $extra-light;
}

.form__text-input {
  font: inherit;
  border: 2px solid $medium-1;
  border-radius: 1px;

  &:hover {
    border-color: $basic-dark;
  }

  &:focus {
    outline: none;
  }

  &:active,
  &:focus {
    border-color: $accent-color;
  }
}

/* Check fieldset */

.form__check {
  background-color: $basic-light;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
