.form {
  background-color: $extra-light;
}

/* Form intro */
.form__intro {
  padding-top: 44px;
  padding-bottom: 9px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    padding-top: 91px;
    padding-bottom: 48px;
    padding-right: 80px;
    padding-left: 80px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 51px;
    padding-right: 0;
    padding-left: 0;
  }
}

.form__intro-please {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}

/* Form grid */
.form__grid {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto 470px 470px auto;
    justify-content: center;
    margin-bottom: -10px;
  }
}

.form__text,
.form__check {
  margin: 0;
  padding-right: 20px;
  padding-left: 20px;
  border: none;

  @media (min-width: $tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: 30px;
    border: 2px solid $medium-1;
  }
}

/* Form label */
.form__label {
  margin-bottom: -10px;
  margin-left: 23px;
  font-size: 14px;
  text-transform: uppercase;
  color: $accent-color;

  &--center {
    margin-bottom: 92px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    line-height: 18px;
    transform: translateY(57px);

    @media (min-width: $tablet-width) {
      padding-top: 0;
      margin-bottom: 44px;
      padding-right: 25px;
      padding-left: 25px;
      transform: translateY(1px);
    }

    @media (min-width: $desktop-width) {
      margin-right: 0;
      margin-left: 0;
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}

.form__check--app .form__label {
  @media (min-width: $desktop-width) {
    padding-right: 25px;
    padding-left: 25px;
  }
}

/* Text fieldset */
.form__text {
  padding-bottom: 9px;
  background-color: $extra-light;
}

.form__text-input {
  width: 100%;
  margin-top: 5px;
  padding-top: 14px;
  padding-bottom: 15px;
  padding-right: 42px;
  padding-left: 42px;
  box-sizing: border-box;
  font: inherit;
  border: 2px solid $medium-1;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: auto;
  }

  &:hover {
    border-color: $basic-dark;
  }

  &:focus {
    outline: none;
  }

  &:active,
  &:focus {
    border-color: $accent-color;
  }
}

.form__text-input--error {
  border-color: $color-not;
}

.form__text input {
  margin-bottom: -3px;
  padding-left: 20px;
}

/* Name */
.form__text--name {
  border: none;

  @media (min-width: $tablet-width) {
    order: -2;
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;
    padding-top: 16px;
    padding-bottom: 0;
    padding-right: 35px;
  }
}

.form__text--name p {
  @media (min-width: $tablet-width) {
    display: flex;
    padding-bottom: 34px;
    align-items: center;

    &:last-child {
      padding-bottom: 1px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 35px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.form__text--name .form__label {
  @media (min-width: $tablet-width) {
    margin-left: 0;
    padding-right: 19px;
    padding-left: 0;
    transform: translateY(-4px);
  }
}

.form__text--name input {
  @media (min-width: $tablet-width) {
    flex-grow: 1;
    margin: 0;
  }
}

/* Contacts */
.form__text--contacts {
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    margin-top: 28px;
    order: -1;
    padding-right: 58px;
    padding-left: 58px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: 27px;
    padding-right: 58px;
    padding-left: 58px;
  }
}

.form__contacts-list {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__contacts-item {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 16px;

    &:last-child {
      padding-bottom: 10px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 7px;
      right: 2px;
      display: block;
      width: 59px;
      height: 59px;
      background-color: $medium-1;
      z-index: 1;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--phone::after {
      background-image: url("../img/sprite-phone.svg");
    }

    &--email::after {
      background-image: url("../img/sprite-mail.svg");
    }
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;

    &::after {
      top: 5px;
    }
  }
}

.form__text--contacts p:nth-child(2n) {
  @media (min-width: $desktop-width) {
    margin-left: 70px;
  }
}

.form__text--contacts .form__label {
  margin-left: 24px;

  @media (min-width: $tablet-width) {
    margin-top: 13px;
    margin-left: 19px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: -30px;
    margin-left: 19px;
  }
}

.form__text--contacts .form__label--center {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-bottom: 1px;
  }
}

.form__text--contacts input {
  @media (min-width: $desktop-width) {
    width: 100%;
    margin-top: 3px;
  }
}

/* Message */
.form__text--area {
  @media (min-width: $tablet-width) {
    padding-right: 58px;
    padding-left: 58px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

.form__text--area .form__label--center {
  margin-bottom: 43px;
  transform: translateY(38px);

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
    padding-right: 38px;
    padding-left: 38px;
    transform: translateY(1px);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 21px;
  }
}

.form__text-input--textarea {
  width: 100%;
  margin-bottom: 31px;
  padding-top: 13px;
  padding-bottom: 34px;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
    padding-top: 14px;
    padding-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    height: 129px;
    margin-bottom: 26px;
  }
}

/* Check fieldset */
.form__check {
  padding-bottom: 0;
  background-color: $basic-light;

  @media (min-width: $tablet-width) {
    background-color: $extra-light;
  }

  &--app {
    @media (min-width: $tablet-width) {
      order: -2;
    }

    @media (min-width: $desktop-width) {
      grid-column-start: 3;
      grid-column-end: 4;
      margin-top: 20px;
      margin-left: 35px;
    }
  }

  &--progress {
    @media (min-width: $tablet-width) {
      margin-top: 28px;
      margin-bottom: 58px;
    }

    @media (min-width: $desktop-width) {
      grid-column-start: 2;
      grid-column-end: 4;
      margin-top: 27px;
      margin-bottom: 57px;
      padding-bottom: 7px;
    }
  }
}

.form__item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Progress */
.form__check--progress .form__list {
  @media (min-width: $tablet-width) {
    margin-top: -2px;
    padding-right: 20px;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    padding-right: 40px;
  }
}

.form__check--progress .form__item {
  margin-bottom: 52px;
  padding-left: 59px;

  @media (min-width: $tablet-width) {
    padding-left: 97px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 77px;
  }

  &:last-child {
    margin-bottom: 47px;

    @media (min-width: $tablet-width) {
      margin-bottom: 53px;
    }
  }
}

.form__check--progress .form__item:nth-child(2n) {
  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.form__check--progress .form__label--center {
  @media (min-width: $tablet-width) {
    padding-right: 32px;
    padding-left: 32px;
  }
}

.form__check-input + label::before {
  content: "";
  position: absolute;
  left: -59px;
  top: -4px;
  width: 35px;
  height: 35px;
  background-color: $extra-light;
  border-width: 2px;
  border-style: solid;
  border-color: $medium-1;
  border-radius: 3px;
}

.form__check-input:hover + label::before,
.form__check-input:focus + label::before {
  border-color: $basic-dark;
}

.form__check-input:active + label::before {
  border-color: $accent-color;
}

.form__check-input:checked + label::after {
  content: "";
  position: absolute;
  left: -50px;
  top: 7px;
  width: 22px;
  height: 16px;
  background-image: url("../img/sprite-tick.svg");
  background-repeat: no-repeat;
}

/* App */
.form__check--app .form__item {
  margin-bottom: 45px;
  padding-left: 70px;

  @media (min-width: $tablet-width) {
    padding-left: 99px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
    padding-left: 113px;
  }

  &:first-child {
    margin-top: -2px;

    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }

  &:last-child {
    margin-bottom: 46px;

    @media (min-width: $tablet-width) {
      margin-top: 0;
      margin-bottom: 58px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.form__radio-input + label::before {
  content: "";
  position: absolute;
  left: -70px;
  top: -5px;
  width: 37px;
  height: 37px;
  background-color: $extra-light;
  border-width: 2px;
  border-style: solid;
  border-color: $medium-1;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: -61px;
  }

  @media (min-width: $desktop-width) {
    top: -6px;
  }
}

.form__radio-input:hover + label::before,
.form__radio-input:focus + label::before {
  border-color: $basic-dark;
}

.form__radio-input:active + label::before {
  border-color: $accent-color;
}

.form__radio-input:checked + label::after {
  content: "";
  position: absolute;
  left: -57px;
  top: 8px;
  width: 15px;
  height: 15px;
  background-color: $accent-color;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: -48px;
  }

  @media (min-width: $desktop-width) {
    top: 7px;
  }
}

/* Send button */
.form__send {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  font-family: inherit;

  @media (min-width: $tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 27px;
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

/* Description */
.form__description {
  padding-top: 20px;
  padding-bottom: 2px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    transform: translateY(-8px);
  }

  @media (min-width: $desktop-width) {
    transform: translateY(-9px);
  }

  &--hidden {
    display: none;

    @media (min-width: $desktop-width) {
      display: inline-block;
    }
  }

  &--accent {
    color: $accent-color;
  }
}
