/* Intro */
.information {
  display: grid;
  padding-top: 40px;
  background-color: $extra-light;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 63px;
  }
}

.information__intro {
  margin: 0;
  padding-bottom: 30px;
  padding-right: 42px;
  padding-left: 42px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  background-color: transparent;
  z-index: 1;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    padding-right: 27px;
    padding-left: 27px;
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    width: $desktop-width-min;
    margin: 0 auto;
    padding: 0;
    font-size: 50px;
    line-height: 68px;
  }
}

/* Information List */
.information__list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding-top: 64px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: $basic-light;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    margin-top: 29px;
    padding-top: 35px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 300px 300px 300px 1fr;
    grid-gap: 20px;
    margin-top: 20px;
    padding-right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -29px;
    left: 0;
    width: 100%;
    height: 90px;
    background: linear-gradient(-5.7deg, $basic-light 50%, $extra-light 50%);

    @media (min-width: $tablet-width) {
      top: -50px;
      background: linear-gradient(-4.7deg, $basic-light 50%, $extra-light 50%);
    }

    @media (min-width: $desktop-width) {
      top: -370px;
      height: 900px;
      background: linear-gradient(-4.7deg, $basic-light 50%, $extra-light 50%, $extra-light 75%, transparent 75%);
    }
  }
}

.information__item {
  position: relative;
  max-width: 270px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: -8px;
    margin-left: 10px;
    margin-right: auto;
    max-width: 320px;
    text-align: left;

    &:first-child {
      margin-top: 42px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    text-align: center;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-top: 0;
    }

    &--changes {
      grid-column-start: 3;
      grid-column-end: 4;
    }

    &--friends {
      grid-column-start: 4;
      grid-column-end: 5;
    }
  }
}

/* Information Text */
.information__title {
  margin-bottom: -2px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: $extra-dark;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 48px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 30px;
    line-height: 30px;
  }
}

.information__description {
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 24px;
  }
}

/* Photo image */
.information__list::after {
  content: "";
  display: block;
  width: 157px;
  height: 276px;
  margin: 0 auto;
  margin-top: 29px;
  background-repeat: no-repeat;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 268px;
    height: 482px;
    margin-top: -28px;
    transform: translateX(-5px);
    animation-name: iphone-screen;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.information__item::before {
  content: "";
  width: 300px;
  height: 310px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.information__item--mood::before {
  background-image: url("../img/iphone-screen-1-desktop@1x.png");
  transform: translateX(4px);

  @media (min-resolution: 2dppx) {
    background-image: url("../img/iphone-screen-1-desktop@2x.png");
  }
}

.information__item--changes::before {
  background-image: url("../img/iphone-screen-2-desktop@1x.png");
  transform: translateX(7px);

  @media (min-resolution: 2dppx) {
    background-image: url("../img/iphone-screen-2-desktop@2x.png");
  }
}

.information__item--friends::before {
  background-image: url("../img/iphone-screen-3-desktop@1x.png");
  transform: translateX(10px);

  @media (min-resolution: 2dppx) {
    background-image: url("../img/iphone-screen-3-desktop@2x.png");
  }
}

/* Animation */
@keyframes iphone-screen {
  0% {
    background-image: url("../img/iphone-screen-1-tablet@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-screen-1-tablet@2x.png");
    }
  }

  33% {
    background-image: url("../img/iphone-screen-2-tablet@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-screen-2-tablet@2x.png");
    }
  }

  66% {
    background-image: url("../img/iphone-screen-3-tablet@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
    }
  }

  100% {
    background-image: url("../img/iphone-screen-1-tablet@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-screen-1-tablet@2x.png");
    }
  }
}
