/* Intro */
.information {
  padding-top: 40px;
  background-color: $extra-light;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
  }
}

.information__intro {
  margin: 0;
  padding-bottom: 29px;
  padding-right: 42px;
  padding-left: 42px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  @media (min-width: $tablet-width) {
    padding-bottom: 2px;
    padding-right: 27px;
    padding-left: 27px;
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    width: $desktop-width-min;
    margin: 0 auto;
    padding: 0;
    font-size: 50px;
  }
}

/* Information List */
.information__list {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  margin: 0;
  padding-top: 66px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: $basic-light;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 300px 300px 300px 1fr;
    grid-gap: 20px;
    padding-right: 0;
  }

  &::before {
    content: "";
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: top right;
  }
}

.information__item {
  position: relative;
  max-width: 270px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: 10px;
    margin-right: auto;
    max-width: 320px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    text-align: center;

    &--changes {
      grid-column-start: 3;
      grid-column-end: 4;
    }

    &--friends {
      grid-column-start: 4;
      grid-column-end: 5;
    }
  }
}

/* Information Text */
.information__title {
  margin-bottom: -2px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: $extra-dark;

  @media (min-width: $desktop-width) {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 30px;
    line-height: 30px;
  }
}

.information__description {
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 18px;
    line-height: 30px;
  }
}

/* Photo image */
.information__list::after {
  content: "";
  display: block;
  width: 157px;
  height: 276px;
  margin: 0 auto;
  margin-top: 29px;
  background-repeat: no-repeat;
  background-image: url("../img/iphone-screen-mobile@1x.png");

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 268px;
    height: 482px;
    margin-top: auto;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.information__item::before {
  content: "";
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;

  @media (min-width: $desktop-width) {
    display: block;
    transform: translateX(6px);
  }
}

.information__item--mood::before {
  background-image: url("../img/iphone-screen-1-desktop@1x.png");
}

.information__item--changes::before {
  background-image: url("../img/iphone-screen-2-desktop@1x.png");
}

.information__item--friends::before {
  background-image: url("../img/iphone-screen-3-desktop@1x.png");
}
