.intro {
  background-color: $basic-dark;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: $extra-light;
}
