/* Grid */
.intro-page {
  display: grid;
  grid-template-areas:
    "title"
    "back-img";

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr;
  }

  &--index {
    grid-template-areas:
      "title"
      "download-app"
      "hand-img"
      "back-img";
    align-items: center;

    @media (min-width: $tablet-width) {
      position: relative;
      grid-template-columns: 340px 1fr;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: auto 300px 640px auto;
    }
  }
}

/* Title */
.intro-page__title {
  grid-area: title;
  grid-row-start: 1;
  grid-row-end: 2;
  min-height: 99px;
  margin-top: $mobile-menu + 28px;
  margin-bottom: 44px;
  margin-right: 30px;
  margin-left: 30px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $extra-light;

  @media (min-width: $tablet-width) {
    min-height: 204px;
    margin-top: $tablet-menu + 67px;
    margin-bottom: 59px;
    margin-right: 93px;
    margin-left: 93px;
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 820px;
    margin-top: $tablet-menu + 59px;
    margin-bottom: 21px;
    margin-right: auto;
    margin-left: auto;
  }

  &--index {
    min-height: 45px;
    margin-top: $tablet-menu - 21px;
    margin-bottom: 28px;
    line-height: 29px;

    @media (min-width: $tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      margin-top: $tablet-menu + 94px;
      margin-bottom: 6px;
      margin-right: 20px;
      margin-left: 20px;
      font-size: 40px;
      line-height: 48px;
    }

    @media (min-width: $desktop-width) {
      grid-column-start: 2;
      grid-column-end: 3;
      width: 300px;
      margin-top: 209px;
      margin-bottom: 0;
      margin-right: 0;
      margin-left: 0;
      font-size: 50px;
      line-height: 68px;
    }
  }
}

/* Hand */
.intro-page__hand {
  position: relative;
  grid-area: hand-img;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0 auto;
  transform: translateX(-31px);

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    position: absolute;
    bottom: 0;
    right: 22px;
    transform: translateX(0);
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    position: relative;
    margin: 0 auto;
    margin-top: auto;
    transform: translateX(12px);
  }
}

/* Background */
.intro-page__background {
  grid-area: back-img;
  grid-row-start: 1;
  grid-row-end: 3;
  display: block;
  width: 100%;
  height: 100%;
  background-color: $basic-dark;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 5;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}
