.main-nav {
  position: relative;
  width: 100%;
  min-height: $mobile-menu;

  @media (min-width: $tablet-width) {
    min-height: $tablet-menu;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-end;
    width: $desktop-width-min;
    margin: 0 auto;
  }
}

/* Menu button */
.main-nav__toggle {
  position: absolute;
  top: 11px;
  right: 20px;
  order: 1;
  display: block;
  width: 50px;
  height: 44px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 33px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  @media (max-width: $mobile-and-tablet) {
    display: none;
  }
}

.main-nav__toggle .main-nav__icon {
  display: block;
  width: 100%;
  height: 4px;
  font-size: 0;
  border-radius: 1px;
}

.main-nav__toggle .main-nav__icon::before,
.main-nav__toggle .main-nav__icon::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: $extra-light;
  border-radius: 1px;
}

/* Menu button closed */
.main-nav--closed .main-nav__item {
  @media (max-width: $mobile-and-tablet) {
    display: none;
  }
}

.main-nav--closed .main-nav__icon {
  background-color: $extra-light;
}

.main-nav--closed .main-nav__icon::before {
  transform: translate(0, -10px);
}

.main-nav--closed .main-nav__icon::after {
  transform: translate(0, 6px);
}

/* Menu button open */
.main-nav--nojs .main-nav__list,
.main-nav--opened .main-nav__list {
  background-color: $basic-dark;

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.main-nav--nojs .main-nav__item,
.main-nav--opened .main-nav__item {
  @media (max-width: $mobile-and-tablet) {
    display: block;
  }
}

.main-nav--opened .main-nav__icon {
  height: 0;
}

.main-nav--opened .main-nav__icon::before,
.main-nav--opened .main-nav__icon::after {
  width: 30px;
  height: 3px;
}

.main-nav--opened .main-nav__icon::before {
  transform: translate(23px, 0) rotate(45deg);

  @media (min-width: $tablet-width) {
    transform: translate(23px, -2px) rotate(45deg);
  }
}

.main-nav--opened .main-nav__icon::after {
  transform: translate(23px, -3px) rotate(-45deg);

  @media (min-width: $tablet-width) {
    transform: translate(23px, -5px) rotate(-45deg);
  }
}

/* Menu button actions */
.main-nav__toggle:hover .main-nav__icon,
.main-nav__toggle:hover .main-nav__icon::before,
.main-nav__toggle:hover .main-nav__icon::after,
.main-nav__toggle:focus .main-nav__icon,
.main-nav__toggle:focus .main-nav__icon::before,
.main-nav__toggle:focus .main-nav__icon::after {
  background-color: $accent-color;
}

.main-nav__toggle:active .main-nav__icon,
.main-nav__toggle:active .main-nav__icon::before,
.main-nav__toggle:active .main-nav__icon::after {
  background-color: $accent-color-opacity;
}

/* Menu list */
.main-nav__list {
  margin: 0;
  padding: 0;
  padding-top: $mobile-menu;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding-top: $tablet-menu;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 750px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.main-nav__item {
  padding-top: 14px;
  padding-bottom: 16px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 32px;
  text-align: center;
  background-color: $basic-dark;
  border-top: 1px solid $extra-light-opacity;
  border-bottom: 1px solid $extra-dark;

  &:first-child {
    margin-top: 4px;
  }

  @media (min-width: $tablet-width) {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: -1px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 1px;
    margin-left: 78px;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-right: 0;
    padding-left: 0;
    font-weight: normal;
    text-transform: none;
    line-height: 18px;
    text-align: right;
    background-color: transparent;
    border: none;

    &--active:not(.main-nav__item--index) {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        right: 0;
        left: 0;
        height: 2px;
        background: $extra-light;
      }
    }
  }
}

.main-nav--nojs .main-nav__item:first-child::before,
.main-nav--opened .main-nav__item:first-child::before {
  content: "";
  position: absolute;
  top: 69px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: $extra-dark;

  @media (min-width: $tablet-width) {
    top: $tablet-menu - 1px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__link {
  color: $extra-light;
  text-decoration: none;
  padding-right: 21px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

.main-nav__item:not(.main-nav__item--active) .main-nav__link:hover,
.main-nav__item:not(.main-nav__item--active) .main-nav__link:focus {
  color: $accent-color;
}

.main-nav__item:not(.main-nav__item--active) .main-nav__link:active {
  color: $extra-light;
  opacity: 0.3;
}
