.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  font-weight: bold;
  line-height: 32px;
  text-align: center;
  background-color: $basic-dark;
  border-top: 1px solid $extra-light-opacity;
  border-bottom: 1px solid $extra-dark;
}

.main-nav__item a {
  color: $extra-light;
  text-decoration: none;
}

.main-nav__item:not(.main-nav__item--active):hover a {
  color: $accent-color;
}

.main-nav__item:not(.main-nav__item--active):active a {
  color: $extra-light;
  opacity: 0.3;
}
