.page {
  height: 100%;
  font-size: 18px;
  line-height: 27px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.page__body {
  min-height: 100%;
  margin: 0;
  color: $basic-dark;
  background-color: $extra-light;
}
