.page-header {
  display: flex;
  width: 100%;
  color: $extra-light;
  background-color: $extra-dark-opacity;
  z-index: 1;
}

.page-header__logo {
  position: absolute;
  display: flex;
  top: 22px;
  left: 20px;

  @media (min-width: $tablet-width) {
    top: 30px;
  }

  @media (min-width: $desktop-width) {
    left: 50%;
    transform: translateX(-470px);
  }
}

/* Logo colors */

.page-header__logo .logo__text,
.page-header__logo .logo__tablet,
.page-header__logo .logo__desktop-path {
  fill: $extra-light;
}

.page-header__logo .logo__desktop-x,
.page-header__logo .logo__desktop-i {
  fill: $accent-color;
}

.page-header__logo:not(.page-header__logo--active):hover .logo__text,
.page-header__logo:not(.page-header__logo--active):focus .logo__text,
.page-header__logo:not(.page-header__logo--active):hover .logo__tablet,
.page-header__logo:not(.page-header__logo--active):focus .logo__tablet,
.page-header__logo:not(.page-header__logo--active):hover .logo__desktop-path,
.page-header__logo:not(.page-header__logo--active):focus .logo__desktop-path {
  fill: $accent-color;
}

.page-header__logo:not(.page-header__logo--active):active .logo__text,
.page-header__logo:not(.page-header__logo--active):active .logo__tablet,
.page-header__logo:not(.page-header__logo--active):active .logo__desktop-path,
.page-header__logo:not(.page-header__logo--active):active .logo__desktop-x,
.page-header__logo:not(.page-header__logo--active):active .logo__desktop-i {
  fill: $extra-light;
  opacity: 0.3;
}

/* Logo Text */
.page-header__logo .logo__text {
  position: absolute;

  @media (min-width: $tablet-width) {
    top: 17px;
    left: 71.5px;
  }
}

/* Logo Tablet */

.page-header__logo .logo__tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

/* Logo Desktop */

.page-header__logo .logo__desktop {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}
