.page {
  height: 100%;
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  margin: 0;
  color: $basic-dark;
  background-color: $extra-light;
}

.page-main {
  margin: 0;
  margin-top: -$mobile-menu;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-top: -$tablet-menu;
  }
}
