.photo {
  font-size: 14px;
  line-height: 24px;
}

.photo__top {
  display: block;
  width: 101px;
  padding-top: 6px;
  padding-right: 20px;
  padding-bottom: 6px;
  padding-left: 19px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  color: $extra-light;
  background-color: $accent-color;
}

.photo__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photo__image {
  margin-bottom: -7px;
}

.photo__text {
  display: block;
  padding-top: 18px;
  padding-right: 20px;
  padding-bottom: 22px;
  padding-left: 17px;
  background-color: $basic-light;
}

.photo__author {
  font-weight: bold;
}

.photo__date {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
}

.photo__likes {
  text-transform: uppercase;
  font-size: 12px;
  color: $accent-color;
}
