.popup {
  text-align: center;
  background-color: $extra-light;

  @media (min-width: $tablet-width) {
    display: block;
    width: 460px;
    border-radius: 5px;
    box-shadow: 0px 7px 15px $shadow;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
  }
}

.popup__title {
  padding-top: 44px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: bold;
  color: $extra-dark;

  @media (min-width: $tablet-width) {
    padding-right: 70px;
    padding-left: 70px;
    font-size: 30px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 210px;
    padding-left: 210px;
  }
}

.popup__text {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding-right: 70px;
    padding-left: 70px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 195px;
    padding-left: 195px;
  }
}

.popup__wrapper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: $basic-light;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    padding-right: 70px;
    padding-left: 70px;
  }
}

.popup .popup__button--success {
  @media (min-width: $desktop-width) {
    max-width: 460px;
  }
}
