.price {
  position: relative;
  display: grid;
  padding-top: 63px;
  padding-bottom: 49px;
  padding-right: 20px;
  padding-left: 21px;
  background-color: $basic-light;

  @media (min-width: $tablet-width) {
    padding-bottom: 24px;
    padding-right: 21px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 50px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -33px;
    left: 0;
    width: 100%;
    height: 90px;
    background: linear-gradient(-3.4deg, $basic-light 50%, $extra-light 50%);

    @media (min-width: $tablet-width) {
      top: -20px;
      background: linear-gradient(-3.6deg, $basic-light 50%, $extra-light 50%);
    }

    @media (min-width: $desktop-width) {
      top: -337px;
      height: 900px;
      background: linear-gradient(-4.7deg, $basic-light 50%, $extra-light 50%);
    }
  }
}

.price__list {
  width: 100%;
  box-sizing: padding-box;
  margin-top: 41px;
  margin-bottom: 43px;
  font-size: 14px;
  text-transform: uppercase;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    margin-top: 39px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width-min;
    margin-top: 157px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Table header */
.price__plan {
  position: relative;
  padding-top: 12px;
  padding-bottom: 29px;
  padding-right: 20px;
  padding-left: 22px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: $extra-light;
  background-color: $basic-dark;
  border-right: 2px solid $basic-light;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
    padding-left: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 22px;
    padding-left: 20px;
  }
}

.price__cost {
  display: block;
  margin-top: -3px;
  font-weight: 300;
  font-size: 18px;

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 30px;
    margin-top: 2px;
  }
}

.price__hit {
  position: absolute;
  top: 18px;
  left: -36px;
  display: block;
  padding-right: 50px;
  padding-left: 50px;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  background-color: $accent-color;
  transform: rotate(-45deg);
  z-index: 1;

  @media (min-width: $tablet-width) {
    top: 15px;
    left: -44px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    top: 19px;
    left: -36px;
    line-height: 23px;
  }
}

/* Table content */
.price__setting {
  position: relative;
  padding-top: 14px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 20px;
  text-align: left;
  background-color: $extra-light;
  border-right: 2px solid $medium-1;
  border-bottom: 2px solid $medium-1;

  &:last-child {
    border-left: 2px solid $medium-1;
  }

  &:not(.price__setting--aside) {
    @media (min-width: $tablet-width) {
      width: 25%;
      font-size: 0;
      padding-top: 0;
      padding-bottom: 0;
      text-align: center;
    }
  }
}

.price__setting--aside {
  display: none;

  &:not(.price__empty):first-child {
    border-top: 2px solid $medium-1;
  }

  @media (min-width: $tablet-width) {
    display: table-cell;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 15px;
    text-transform: none;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 12px;
    padding-bottom: 17px;
    padding-left: 22px;
    padding-right: 20px;
    font-size: 18px;
  }
}

.price__inclusion {
  position: absolute;
  display: block;
  font-size: 0;
  background-size: 100%;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    margin-right: 9px;
  }

  &--yes {
    width: 30px;
    height: 22px;
    right: 17px;
    top: 18px;
    background-image: url("../img/sprite-yes.svg");
  }

  &--not {
    width: 27px;
    height: 27px;
    right: 19px;
    top: 16px;
    background-image: url("../img/sprite-no.svg");
  }

  @media (min-width: $tablet-width) {
    position: static;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
}

/* Border radius */
@media (min-width: $tablet-width) {
  .border-radius-top-right {
    border-top-right-radius: 3px;
  }

  .border-radius-top-left {
    border-top-left-radius: 3px;
  }

  .border-radius-bottom-right {
    border-bottom-right-radius: 3px;
  }

  .border-radius-bottom-left {
    border-bottom-left-radius: 3px;
  }
}

/* Slider */
.price__item--hidden {
  @media (max-width: $mobile-only-width) {
    display: none;
  }
}

.price__toggles {
  padding-right: 1px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
