.slider__toggles {
  display: flex;
}

.slider__toggle {
  display: block;
  width: 6px;
  height: 6px;
  margin: 0;
  margin-right: 19px;
  padding: 0;
  font-size: 0;
  background-color: $basic-dark;
  opacity: 0.3;
  border: none;
  border-radius: 50%;

  &:last-child {
    margin-right: 0;
  }

  /* Надо доделать, вынести border наружу */
  &--current {
    background-color: $extra-light;
    border: 3px solid $basic-dark;
    opacity: 1;
  }

  &:not(.slider__toggle--current):hover,
  &:not(.slider__toggle--current):focus {
    opacity: 0.6;
  }

  &:not(.slider__toggle--current):active {
    opacity: 0.1;
  }
}
