.slider {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-areas: auto 896px auto;
    justify-content: center;
  }
}

.slider__list {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.slider__item:not(.slider__item--current) {
  display: none;
}

.slider__toggles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 270px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.slider__toggle {
  display: block;
  width: 6px;
  height: 6px;
  margin: 0;
  margin-right: 19px;
  padding: 0;
  font-size: 0;
  background-color: $basic-dark;
  opacity: 0.3;
  border: none;
  border-radius: 50%;

  &:last-child {
    margin-right: 0;
  }

  &--current {
    box-sizing: content-box;
    margin-top: -3px;
    margin-right: 16px;
    background-color: $extra-light;
    border: 3px solid $basic-dark;
    opacity: 1;
  }

  &:not(.slider__toggle--current):hover,
  &:not(.slider__toggle--current):focus {
    opacity: 0.6;
  }

  &:not(.slider__toggle--current):active {
    opacity: 0.1;
  }
}

.slider__arrow {
  display: none;
  opacity: 0.3;

  @media (min-width: $desktop-width) {
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    display: block;
    width: 22px;
    height: 41px;
    font-size: 0;
    background-color: transparent;
    border: none;
    outline: 2px solid $accent-color;
    outline-offset: -2px;

    &--prev {
      grid-column-start: 1;
      grid-column-end: 2;
      margin-right: 78px;
    }

    &--next {
      grid-column-start: 3;
      grid-column-end: 4;
      margin-left: 78px;
    }
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}
