.social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  margin-right: 14px;
  margin-bottom: 14px;

  @media (min-width: $desktop-width) {
    margin-right: 11px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__link,
.social__icon {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.social__link {
  box-shadow: 0 0 0 3px $basic-dark-opacity;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 3px $basic-dark;
  }

  &:active {
    box-shadow: 0 0 0 3px $basic-dark-opacity;
  }
}

.social__link:active .social__icon {
  opacity: 0.3;
}


/* Social icon */
.social__icon {
  background-repeat: no-repeat;

  &--twitter {
    background-image: url(../img/twitter.svg);
    background-position: center 17px;
  }

  &--facebook {
    background-image: url(../img/facebook.svg);
    background-position: center 15px;
  }

  &--youtube {
    background-image: url(../img/youtube.svg);
    background-position: 19px 18px;
  }
}
