.social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 14px;
  padding: 0;
  list-style: none;
}

.social__item  {
  margin-right: 14px;
  margin-bottom: 14px;

  @media (min-width: $desktop-width) {
    margin-right: 11px;
  }
}

.social__link,
.social__icon {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.social__link {
  border: 3px solid $basic-dark-opacity;

  &:hover,
  &:focus {
    border-color: $basic-dark;
  }

  &:active {
    border-color: $basic-dark-opacity;
  }
}

.social__link:active .social__icon {
  opacity: 0.3;
}
