.upload {
  background-color: $basic-light;
}

.upload__intro {
  padding-top: 23px;
  padding-bottom: 42px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    padding-top: 44px;
    padding-bottom: 70px;
    padding-right: 60px;
    padding-left: 60px;
    font-size: 18px;
  }
}

/* Grid */
.upload__settings {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 20px 1fr 1fr 20px;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto 390px 410px auto;
    justify-content: center;
  }
}

.upload__photo {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-row-start: 1;
    grid-row-end: 3;
    box-sizing: border-box;
    margin-bottom: -1px;
    padding-right: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 90px;
  }
}

/* Tools */
.upload__tools {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding-top: 41px;
  padding-right: 28px;
  padding-left: 28px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.upload__tool {
  margin-right: 8px;
  border: none;

  &--crop {
    transform: translateX(-6px) translateY(-2px);
  }

  &--fill {
    transform: translateX(-2px);
  }
}

.upload__icon {
  fill: $basic-dark;
  opacity: 0.3;
}

.upload__tool:not(.upload__tool--current):hover .upload__icon,
.upload__tool:not(.upload__tool--current):focus .upload__icon {
  fill: $basic-dark;
  opacity: 0.5;
}

.upload__tool--current .upload__icon {
  fill: $accent-color;
  opacity: 1;
}


/* Range */
.upload__ranges {
  grid-column-start: 1;
  grid-column-end: 4;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-right: 40px;
  padding-left: 40px;
  list-style: none;

  @media (max-width: $mobile-only-width) {
    &::after {
      content: "";
      position: absolute;
      top: 70px;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      padding: 0;
      background-color: $basic-dark-opacity;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-content: flex-start;
    margin-top: -20px;
    padding-right: 0;
    padding-left: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.upload__range {
  position: relative;
  align-self: flex-end;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 27px;

  @media (max-width: $mobile-only-width) {
    &--hidden {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 22px;
    padding-bottom: 21px;

    &:first-child,
    &:last-child {
      padding-top: 19px;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--crop::before {
      top: 29px;
      left: 4px;
      width: 22px;
      height: 22px;
      background-image: url("../img/crop.svg");
    }

    &--fill::before {
      top: 33px;
      left: 3px;
      width: 25px;
      height: 22px;
      background-image: url("../img/fill.svg");
    }

    &--contrast::before {
      top: 32px;
      left: 7px;
      width: 16px;
      height: 16px;
      background-image: url("../img/contrast.svg");
    }

    &::after {
      content: "";
      position: absolute;
      top: 75px;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      padding: 0;
      background-color: $basic-dark-opacity;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      top: 20px;
      width: 44px;
      height: 44px;
    }
  }
}

.upload__range input[type="range"] {
  width: 100%;
  height: 2px;
  background: $basic-dark;
  appearance: none;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: calc(100% - 73px);
    margin-right: 18px;
    margin-left: 55px;
  }

  @media (min-width: $desktop-width) {
    width: calc(100% - 128px);
    margin-right: 30px;
    margin-left: 92px;
  }
}

.upload__range input[type="range"] {
  &::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    background-color: $extra-light;
    border-radius: 50%;
    border: 2px solid $accent-color;
    transform: translateX(1px) translateY(1px);
    cursor: pointer;
    appearance: none;
  }

  &:active {
    outline: none;
  }

  &:active::-webkit-slider-thumb {
    background-color: $accent-color;
  }
}

/* Buttons */
.upload__buttons {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding-top: 26px;
  padding-left: 37px;
  padding-right: 13px;

  @media (min-width: $tablet-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    justify-content: flex-end;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
  }
}

.upload__button {
  align-self: center;
  width: 100%;
  max-width: 280px;
  margin-top: 12px;
  font-family: inherit;
  background-color: transparent;
  border-width: 3px;
  border-style: solid;

  @media (min-width: $tablet-width) {
    margin-top: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
    align-self: flex-end;
  }

  &--post {
    color: $accent-color;
    border-color: $accent-color;
  }

  &--post:hover,
  &--post:focus {
    color: $extra-light;
    background-color: $accent-color;
  }

  &--post:active {
    color: $extra-light-opacity-2;
    background-color: $accent-color;
  }

  &--cancel {
    color: $basic-dark-opacity;
    border-color: $basic-dark-opacity;
  }

  &--cancel:hover,
  &--cancel:focus {
    color: $basic-dark-opacity-2;
    border-color: $basic-dark-opacity-2;
  }

  &--cancel:active {
    color: $extra-light-opacity-2;
    background-color: $basic-dark;
    opacity: 0.3;
  }
}
