/* Colors */
$basic-light: #f2f2f2;
$basic-dark: #283645;
$extra-light: #ffffff;
$extra-light-opacity: rgba(255, 255, 255, 0.15);
$extra-dark: #000000;
$extra-dark-opacity: rgba(0, 0, 0, 0.3);
$optional-dark: #1d2631;
$optional-light: #efefef;
$medium-1: #e5e5e5;
$medium-2: #dedede;
$accent-color: #d22856;
$color-yes: #3dc644;
$color-not: #f25b26;
